*{
  padding: 0;
  margin: 0;
}

h1{
    text-align: center;
}
.grid{
    display: flex;
    flex-flow: row wrap;
    width: 620px;
   margin: auto;
    
}


.exchange{
    background-color:#7D8F69;
    color: white;
    border: 3px solid white;
}

td {
   border: 1px solid black;
}

.input{
    margin-left: 40px;
    margin-top: 50px;
    width: 500px;
}

.buton{
    margin: 20px;
    margin-left: 40px;
    width: 35px;
}
.done
{
    background-color: #557153;
    color: white;
    border: 3px solid white;
    
}